entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: :443
    http:
      tls:
        domains:
          - main: "{{ cert.domain }}"
          - sans:
            - "auth.{{ cert.domain }}"
            - "mail.{{ cert.domain }}"

  smtp:
    address: :25
    proxyProtocol:
      trustedIPs: 
        - 172.19.0.0/16

  smtps:
    address: :465
    proxyProtocol:
      trustedIPs: 
        - 172.19.0.0/16

  imaps:
    address: :993
    proxyProtocol:
      trustedIPs:
        - 172.19.0.0/16
    
providers:
  file:
    directory: /etc/traefik

log:
  level: DEBUG

accesslog:
  addInternals: true