---

services:
  reverse-proxy:
    image: traefik:v3.0
    restart: unless-stopped
    user: root # TODO fix me
    ports:
      - "80:80"
      - "443:443"
      - "25:25"
      - "465:465"
      - "993:993"
    volumes:
      - "{{ traefik_home }}-dyn.yml:/etc/traefik-dyn.yml:ro"
      - "{{ traefik_home }}.yml:/etc/traefik.yml:ro"
      - "{{ acme_home }}/config/{{ cert.domain }}_ecc:/etc/certs"

  db:
    image: shawlynot/db:1
    restart: unless-stopped
    ports: 
     - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    # volumes:
    #   - database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "{{ db.POSTGRES_PASSWORD }}"
      POSTGRES_USER: admin
      AUTH_PG_PASS: {{ db.AUTH_PG_PASS }}
      THERAPY_PG_PASS: {{ db.THERAPY_PG_PASS }}

  redis:
    image: docker.io/library/redis:alpine
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    # volumes:
    #   - redis:/data

  auth-server:
    image: ghcr.io/goauthentik/server:2025.4.0
    restart: unless-stopped
    command: server
    environment:
      AUTHENTIK_SECRET_KEY: {{ auth.admin_pass }}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: db
      AUTHENTIK_POSTGRESQL__USER: auth
      AUTHENTIK_POSTGRESQL__NAME: auth
      AUTHENTIK_POSTGRESQL__PASSWORD: {{ db.AUTH_PG_PASS }}
      AUTHENTIK_EMAIL__HOST: smtp.eu.mailgun.org
      AUTHENTIK_EMAIL__PORT: 587
      AUTHENTIK_EMAIL__USERNAME: auth@mail.{{ cert.domain }}
      AUTHENTIK_EMAIL__PASSWORD: {{ auth.smtp_pass }}
      AUTHENTIK_EMAIL__USE_TLS: true
      AUTHENTIK_EMAIL__USE_SSL: false
      AUTHENTIK_EMAIL__TIMEOUT: 10
      AUTHENTIK_EMAIL__FROM: no-reply@{{ cert.domain }}
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  auth-worker:
    image: ghcr.io/goauthentik/server:2025.4.0
    restart: unless-stopped
    command: worker
    volumes:
     - ./media:/media
     - ./custom-templates:/templates
    environment:
      AUTHENTIK_SECRET_KEY: {{ auth.admin_pass }}
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: db
      AUTHENTIK_POSTGRESQL__USER: auth
      AUTHENTIK_POSTGRESQL__NAME: auth
      AUTHENTIK_POSTGRESQL__PASSWORD: {{ db.AUTH_PG_PASS }}
      AUTHENTIK_EMAIL__HOST: smtp.eu.mailgun.org
      AUTHENTIK_EMAIL__PORT: 587
      AUTHENTIK_EMAIL__USERNAME: auth@mail.{{ cert.domain }}
      AUTHENTIK_EMAIL__PASSWORD: {{ auth.smtp_pass }}
      AUTHENTIK_EMAIL__USE_TLS: true
      AUTHENTIK_EMAIL__USE_SSL: false
      AUTHENTIK_EMAIL__TIMEOUT: 10
      AUTHENTIK_EMAIL__FROM: no-reply@{{ cert.domain }}
    user: root
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  database:
    driver: local
